
name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:


      - name: pull then resources types repo
        run: |
          cd warehouse
          cd resource-types
          git pull
          cd ..
          yarn install
          yarn test 
          cd web
          yarn install 
          yarn build
          cd ..
          source server.env
          echo GH_TOKEN $GH_TOKEN
          ginkgo -r -keepGoing .
